


@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_base.cshtml";
}


<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark  fixed-top navEstilos">
    <div class="container">
        <a class="navbar-brand" href="/Home/inicio"><img src="~/Img/Logo.png" height=" 50" width=" 50" />Hi Shop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
               
                <!--Ecommerce-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownThemes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ecommerce</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownThemes">
                        <a class="dropdown-item" href="/template-categories/all">
                            <i class="icon-layers fa-fw"></i>
                            Item
                        </a>
                        <a class="dropdown-item" href="/template-categories/popular">
                            <i class="icon-star fa-fw"></i>
                            Item2
                        </a>
                        <a class="dropdown-item" href="/buy-bootstrap-templates">
                            <i class="icon-handbag fa-fw"></i>
                            Item 3
                        </a>
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">Operaciones de compra y venta</h6>
                        <a class="dropdown-item" href="/template-categories/admin-dashboard">Buscar Productos</a>
                        <a class="dropdown-item" href="/template-categories/full-websites">Ranking de ventas</a>
                        <a class="dropdown-item" href="/template-categories/landing-pages"></a>
                    </div>
                </li>

                <!--Stock-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownThemes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Control de Stock</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownThemes">
                        <a class="dropdown-item" href="/template-categories/all">
                            <i class="icon-layers fa-fw"></i>
                           Item
                        </a>
                        <a class="dropdown-item" href="/template-categories/popular">
                            <i class="icon-star fa-fw"></i>
                            Item2
                        </a>
                        <a class="dropdown-item" href="/buy-bootstrap-templates">
                            <i class="icon-handbag fa-fw"></i>
                            Item 3
                        </a>
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">Operaciones de control de Stock</h6>
                        <a class="dropdown-item" href="/template-categories/admin-dashboard">Articulos</a>
                        <a class="dropdown-item" href="/template-categories/full-websites">Movimientos de Stock</a>
                        <a class="dropdown-item" href="/template-categories/landing-pages">Reportes de Stock</a>
                    </div>
                </li>

             

                <!--Contratacion-->
                <li class="nav-item ">
                    <a class="nav-link " href="#" id="dropdownThemes" data-toggle="" aria-haspopup="true" aria-expanded="false">Packs</a>
                    
                </li>

                <!--Usuario-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownThemes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Usuario</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownThemes">
                        <a class="dropdown-item" href="/template-categories/all">
                            <i class="icon-layers fa-fw"></i>
                            Item
                        </a>
                        <a class="dropdown-item" href="/template-categories/popular">
                            <i class="icon-star fa-fw"></i>
                            Item2
                        </a>
                        <a class="dropdown-item" href="/buy-bootstrap-templates">
                            <i class="icon-handbag fa-fw"></i>
                            Item 3
                        </a>
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">Operaciones de configuración</h6>
                        <a class="dropdown-item" href="/template-categories/admin-dashboard">Cambiar Contraseña</a>
                        <a class="dropdown-item" href="/template-categories/full-websites">Perfil</a>
                        <a class="dropdown-item list-group-item-warning" href="/Home/Inicio">Salir</a>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</nav>
<section class="py-5">

    @RenderBody()
   
</section>

<!-- Footer -->
<footer class="py-5 ">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; HiShop</p>
    </div>
    <!-- /.container -->
</footer>

